HELP.md
target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Ignore application secrets
application.properties
application.yml

# Environment variables
.env

# Logs
*.log
logs/

# Keep target inside src if needed
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# OS files
.DS_Store
Thumbs.db